body, html {
    height: 100%;
    background-color: #4d4d4d;
    margin: 0;
    padding: 0;
}
div.container-jeu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
div.container {
    background-color: whitesmoke;
    border-radius: 3%;
}

div.container-error {
    display: block;
    width: 420px;
    height: 50px;
    text-align: center;
}

div.container-player {
    display: flex;
}
div.container-battle {
    display: flex;
}
div.container-bot {
    display: flex;
}
button.symbol-player {
    width: 100px;
    height:100px;
    border: none;
    background-color: #4d4d4d;
    margin:20px;
    border-radius: 5%;
    transition: all 0.5s;
}

button.symbol-player:hover {
    box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
    transition: all 0.5s;
    cursor: pointer;
}
button.symbol-bot {
    width: 100px;
    height:100px;
    border: none;
    background-color: #4d4d4d;
    margin:20px;
    border-radius: 5%;
}
button.start-battle {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    width: 380px;
    height:100px;
    background-color: #4d4d4d;
    margin: 20px 20px;
    color: white;
    border-radius: 10px;
    transition: all 0.5s;
}

button.start-battle:hover {
    color: #76d495;
    box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: all 0.5s;
}

i {
    font-size: 30px;
    color: #76d495;
}


.container-result {
    width: 100%;
    height: auto;
    text-align: left;
    margin: auto;
}
span {
    color: black;
    line-height: 50px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}
span.resultat{
    display: block;
    text-align: center;
}

span.victoire {
    padding: 10px;
    color: #76d495;
}

span.defaite {
    padding: 10px;
    color: #870000;
}

span.egalite {
    padding: 10px;
    color: #153243;
}